<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Troca de senha</title>
</head>

<body style="margin:0; padding:0; background-color:#f4f6f8; font-family: Arial, sans-serif; color:#333;">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="center" style="padding:40px 0;">
        
        <!-- Card -->
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="500" 
               style="border-radius:12px; background:#ffffff; box-shadow:0 4px 12px rgba(0,0,0,0.1); overflow:hidden;">
          
          <!-- Header com gradiente -->
          <tr>
            <td style="padding:20px; background:linear-gradient(90deg, #b9dcb9 45%, #59808f 97%); border-bottom: solid 3px #3B653C;
            border-radius: 15px 15px 0 0; color:#3B653C; font-size:20px; font-weight:bold;">
              Recuperação de Senha
            </td>
          </tr>
          
          <!-- Conteúdo -->
          <tr>
            <td style="padding:30px; font-size:15px; line-height:1.5; color:#444;">
              <h3 style="color: #3B653C; font-weight: bold">Olá, {{nomeUsuario}}</h3>
              <p style="color: black;">Recebemos uma solicitação para redefinir sua senha. Segue abaixo uma nova senha provisória.</p>
              
              <!-- Botão -->
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" style="margin:30px auto;">
                <tr>
                  <td align="center" bgcolor="#d4e9f7" 
                      style="border-radius:8px; padding:12px 24px;">
                    <h2 style="font-size:16px; color:#00334d; text-decoration:none; font-weight:bold; display:inline-block;">
                        {{novaSenha}} 
                    </h2>
                  </td>
                </tr>
              </table>

              <p style="color: black;">Este e-mail foi enviado ao e-mail cadastrado em nosso sistema. Caso não reconhecer o cadastro, desconsidere este email.</p>
              <p style="margin-top:25px; font-size:13px; display: flex; justify-content:center; padding:0px 10%; color:#999;">Projeto acadêmico feito no curso de Desenvolvimento de Sistemas na Etec de Embu, turma do 2ºSem/2024.</p>
            </td>
          </tr>
        </table>
        <!-- /Card -->

      </td>
    </tr>
  </table>
</body>

</html>