.boxSimpleInfos {
   width: 790px;

   /* border: solid 3px #000000; */
   /* border-bottom: solid 5px #000000; */
   border-radius: 18px;

   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
   transition: box-shadow 0.3s ease-in-out;

   position: relative;
}

.box-home {
   width: 370px;
}

.boxSimpleInfos:hover {
   box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.boxSimpleInfos .headerLine {
   background-color: #b9dcb9;
   background: #B9DCB9;
   background: linear-gradient(90deg, #b9dcb9 63%, #59808f 100%);

   color: #3B653C;

   border-bottom: solid 3px #3B653C;
   border-radius: 15px 15px 0 0;

   padding: 15px 20px;

   display: flex;
   justify-content: space-between;
   align-items: center;

   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 800;
   font-style: normal;
}

.boxSimpleInfos .headerLine h5 {
   margin: 0;
}

.boxSimpleInfos .headerLine .headerImage {
   height: 30px;
}

.boxSimpleInfos .mainLine {
   padding: 20px 30px 20px 30px;
}

.boxSimpleInfos .buttonLine {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   padding: 0 15px 15px 0;
}

.boxSimpleInfos .buttonLine .buttonB {
   color: #000;
   background-color: #bbd9e8;
   border: solid 1px #a0b2cb;
   border-radius: 10px;
   padding: 10px 20px;
   transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.boxSimpleInfos .buttonLine .buttonB:hover {
   background-color: #5e8891;
   color: #fff;
}

.boxSimpleInfos-larger {
   width: 790px;
}
