.input_text, .input_email, .input_password, .input_password, .input_checkbox, .input_search{
    margin: 10px;
    padding: 10px;

    /* border: none; */
    border: solid 1px #d7d7d7;
    border-radius: 4px
}

.input_text {

}
.input_email {

}
.input_password {

}
.input_checkbox {

}
.input_search {

}
.input_submit {
    background: #ffffff;
    background: linear-gradient(180deg,#ffffff 0%, #ebebeb 100%);
    color: #000000;

    padding: 8px 20px 8px 22px;

    border: solid 2px #e3e2e2;
    border-bottom: solid 3px #bdb8b8;
    border-radius: 5px;


}