nav {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 300px;
   min-width: 250px;
   height: 94vh;
   background-color: #3B653C;
   position: sticky;
}

.group1-sidenav {
   flex-direction: column;
}

.group2-sidenav {
   flex-direction: column;
   align-content: end;
}

.botoes-sidenav {
   background-color: #4C774D;
   padding: 1.5vh;
   margin: 1vh 1vw;
   justify-content: center;
   border-radius: 8px;
   font-size: 1.1rem;
   white-space: nowrap;
}

.botoes-sidenav p {
   color:white;
   margin: 0px;
}