/* Estilização do projeto */
body {
    font-family: "Inter", sans-serif;
    background-color: #c7c7c7;
    margin-top: 23vh !important;
}

main {
    min-width: 28rem;
}

input {
    margin: 0.5vh;
    box-shadow: 2px 2px 10px 1px rgba(199, 199, 199, 0.65) !important;
}

button {
    box-shadow: 1px 1px 15px 1px rgba(199, 199, 199, 0.85) !important;
}

.gradiente {
    background-image: linear-gradient(to right, rgb(93, 138, 93), rgb(126, 171, 210));
}

p {
    margin-bottom: 0px !important;
}

div {
    display: flex;
}

i {
    color:rgb(29, 21, 74)
}