content {
   margin-top: 0 !important;
   height: 100vh !important;
   width: 100vw !important;
   font-family: "Inter", sans-serif;
   background-color: #c7c7c7;
   display: flex;
   justify-content: center;
   align-items: center;
}

main {
   min-width: 28rem;
}

.gradiente {
   background-image: linear-gradient(to right, rgb(93, 138, 93), rgb(126, 171, 210));
}

div {
   display: flex;
}

svg {
   fill: #292157;
   height: 2.5rem;
   width: 2.5rem;
}