.agente-home {
   grid-template-columns: repeat(3, auto) !important; /* 3 colunas iguais */
   grid-template-rows: repeat(2, auto) !important;
   padding: 15px; /* 2 linhas */
}

.dashArea {
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.mainContentDashboards {
   margin-left: 220px; /* Espaço para o sidenav */
   padding: 20px;
}

.compact-input {
   width: 7vw !important;
}

/* .content-pages {
   align-items: center;
   margin-left: 300px;
   margin-top: 7vh;
   height: calc(100vh - 7vh);
   left: 300px;
} */

.agente_perfil-content {
   position: relative;

   input {
      font-size: 1rem !important;
      height: 1.3rem !important;
   }
   
   .disable {
      background-color: #c0c5cf34;
      cursor: none !important;
   }


   .agente_perfil-elements {
      hr {
         margin: 5vh 0;
      }
      
      span {
         display: flex;
         margin: 20px 0px;
      }

      .grid {
         display: grid;
         gap: 10px;
         margin-bottom: 10px;
      }
      
      .grid_1 {
         grid-template-columns: 2fr 1fr;
      }
      
      .grid_2 {
         grid-template-columns: 1fr 1fr 1fr;         
      }
      
      .grid_3 {
         grid-template-columns: 1fr 1fr 2fr;
      }
   }
}


.agente-histVisitas {
   .subtitle {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .botoes {
         display: flex;
         gap: 10px;

         button {
            gap: 12px;
            height: 5vh;
         }
      }
   }

   tr, th { /* tr = cabeçalho (categorias), th = linhas (categorias) */
      text-align: center;
   }

   table {
      tbody {
         tr {
            height: 50px;

            td {  
               padding-top: 0.8%; /* alternativa pra centralizar o texto nas linhas da tabela, pois display:flex com align:center não é viavel aqui*/
            }
         }
      }
   }

   .icons {
      display: flex;
      cursor: pointer;
      align-items: center;
      height: 2.2rem;

      img {
         width: 1.3rem;
      }
   }

   .table-icons {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      
      img {
         width: 1.8rem;
      }
   }
}

.modal-overlay {
   display: flex;
   position: fixed;
   top: 7vh;
   left: 300px;
   width: calc(100% - 300px);
   height: 93vh;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.3);
}