.agente-home {
   grid-template-columns: repeat(3, auto) !important; /* 3 colunas iguais */
   grid-template-rows: repeat(2, auto) !important;
   padding: 15px; /* 2 linhas */
}

.dashArea {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.mainContentDashboards {
   margin-left: 220px; /* Espaço para o sidenav */
   padding: 20px;
}

.modal-overlay {
   display: flex;
   position: fixed;
   top: 7vh;
   left: 300px;
   width: calc(100% - 300px);
   height: 93vh;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.3);
}





.content-pages-agente { /* Tela de cadastro de novo usuário */
   .content-agente_CadAltUsuario { /* Tela de cadastro de novo usuário */
      .elements-agente_CadAltUsuario {
         hr {
            margin: 25px 0;
         }

         .subtitle {
            display: flex;
            margin: 20px 0;
         }
         
         .grid {
            display: grid;
            gap: 10px;
            margin-bottom: 10px;
         }
         
         .grid_1 {
            grid-template-columns: 1fr 1fr;
         }
         
         .grid_2 {
            grid-template-columns: 1fr 1fr 1fr;         
         }
         
         .grid_3 {
            grid-template-columns: 1fr 2fr;
         }
         
         .grid_4 {
            grid-template-columns: 2fr 1fr;
         }
         
         .grid_5 {
            grid-template-columns: 1fr 1fr 1fr;         
         }
         
         .grid_6 {
            grid-template-columns: 1fr 1fr 2fr;
         }

         .select-agente_CadAltUsuario { /* Estilização dos Selects */
            div {
               box-shadow: 2px 2px 10px 1px #c7c7c7a6;
               border: solid #cfcfcf 1px;
               text-align: start;
            }
         }
      }
   }
   

   
   .content-agente_perfil { /* Tela de perfil do agente */
      input {
         font-size: 1rem !important;
         height: 1.3rem !important;
      }
   
      .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {  /* Efeito de desativado nos inputs da tela de perfil */
         color: rgba(0, 0, 0, 0.6);
         background-color: rgba(0, 0, 0, 0.075);
      }
   
   
      .elements-agente_perfil {
         hr {
            margin: 5vh 0;
         }
         
         span {
            display: flex;
            margin: 20px 0px;
         }
   
         .grid {
            display: grid;
            gap: 10px;
            margin-bottom: 10px;
         }
         
         .grid_1 {
            grid-template-columns: 2fr 1fr;
         }
         
         .grid_2 {
            grid-template-columns: 1fr 1fr 1fr;         
         }
         
         .grid_3 {
            grid-template-columns: 1fr 1fr 2fr;
         }
      }
   
      .form-buttons {
         display: flex;
         justify-content: space-around;
         margin-top: 3vh;
         margin-bottom: 1vh;
   
         button {
            color: black;
            padding: 0 15px;
            height: 4vh;
            max-height: 50px;
         }
   
         button:hover {
            color: white;
         }
      }
   }
   
   

   .content-agente_histVisitas { /* Tela de histórico de visitas domiciliares */
      .subtitle {
         display: flex;
         justify-content: space-between;
         align-items: center;
   
         .botoes {
            display: flex;
            gap: 10px;
   
            button {
               gap: 12px;
               height: 4.5vh;
               /* max-height: 40px; */
            }
         }
   
         h4 {
            margin-bottom: 0;
         }
   
         .icons {
            display: flex;
            cursor: pointer;
            align-items: center;
            height: 2.2rem;
      
            svg {
               height: 1.5rem;
               width: 1.5rem;
            }
         }
      }
   
      .table-agente_histVisitas {
         tr, th { /* tr = cabeçalho (categorias), th = linhas (categorias) */
            text-align: center;
         }
         
         tbody {
            tr {
               height: 50px;
   
            }

            td {
               vertical-align: middle;
            }
         }
   
         .table-icons {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            
            img, svg {
               height: 1.7rem;
               width: 1.7rem;
            }
         }
      }
   }
}